@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/visual-elements";

:host {
  position: relative;
  display: none;
  #page-content {
    flex: 1;
    overflow: auto;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

}

:host([active]) {
  display: flex;
  #page-content {
  }
}
